<p>Hola mundo</p>
<p>{{ title }}</p>

<p>El apellido de papisebas es {{ apellido }} y su edad es {{ edad }}</p>

<p>La suma de 2 y 2 es: {{ 2 + 2 }}</p>

<p>El doble de 4 es: {{ duplicarNumero(4) }}</p>

<h2>Datos de la pelicula</h2>

<h4>Implementacion clasica con *ngFor</h4>

<div *ngFor="let pelicula of peliculas; let indice = index">
  <p>{{ indice }}) Pelicula: {{ pelicula.titulo | uppercase }}</p>
  <p>Fecha: {{ pelicula.fechaLanzamiento | date: 'YYYY-MM-dd' }}</p>
  <p>Precio: {{ pelicula.precio | currency }}</p>
</div>

<h4>Implementacion moderna con For</h4>
@for (pelicula of peliculas; track $index) {
<div class="contenedor-pelicula">
  <div style="display: flex; flex-direction: row; gap:10px">
    <div>
      <img [src]="pelicula.poster" width="169" height="250">
    </div>
    <div>
      <p>{{ $index }}) Pelicula: {{ pelicula.titulo | uppercase }}</p>
      <p>Fecha: {{ pelicula.fechaLanzamiento | date: 'YYYY-MM-dd' }}</p>
      <p>Precio: {{ pelicula.precio | currency }}</p>
    </div>
  </div>
</div>

}
